.py-5{
    padding-top: 28px !important;
}

main{
    max-width: 1280px;
    margin: 0 auto;
}

header{
    position: relative;
    height: 120px;
}

header > img{
    position: absolute;
    top: 20px;
    height: 80px;
}

#plateforme{
    text-align: center;
    font-weight: 700;
    font-size: 3em;
    line-height: 1.1;
    color: #316FB4
}

#formeplate{
    font-weight: 600;
    font-size: .6em;
    text-align: center;
    padding-bottom: 8px;
    color:#0b55a8
}

#header-title{
    position: absolute;
    top: 20px;
    width: 160px;
    left: 100px;
}

#header-links{
    padding: 40px;
    float: right;
}

h1{
    padding: 40px 0 20px 0;
    margin: 0;
    margin-bottom: .67em;
}

h2{
    margin-bottom: .67em;
}

form{
    padding: 1.25rem 2rem;
    background: #e9eaea;
}

.btn-primary{
    background: #e21481;
    border-color: unset;
}


/*****************/
/* Header Stripe */
/*****************/

#headerstripe{
    min-height: 48px;
    background: #002158;
    margin-bottom: 28px;
}

#headerstripe > ul{
    display: flex;
    justify-content: space-around;
    padding: 0;
}

#headerstripe li{
    list-style-type: none;
    display: inline-block;
    padding: 10px;
    border-bottom: 5px solid #002158;
}

#headerstripe a{
    color: white;
}

#headerstripe li:hover{
    border-bottom: 5px solid #ffc23d;
}


/***************/
/* RSME Slider */
/***************/

/* Main container of the whole effort rating thing */
#rsme-container{
    position: relative;
    width: 100%;
    height: 140px;
}

/* 1 - Left part ("Effort" label + number input)*/
.numberInputContainer{
    position: absolute;
    font-size: 1em;
    width: 10%;
    border: 0;
    margin: 0;
}

.numberInputContainer > div{
    text-transform: uppercase;
    font-size: .55em;
    text-align: center;
    width: 100%;
}

.numberInputContainer > input{
    text-align: right;
    display: block;
    width: 2.4em;
    padding: 0 4px;
    margin: auto;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}



/* 2 - Right part (scale and slider) */

.sliderInputContainer{
    position: absolute;
    width: 90%;
    left: 10%;
    top: 6px;
    height: 20px;
}

.scaleDiv{
    float:left;
    width: 6.25%;
    text-align: center;
}

.scaleDiv label{
    display: block;
    font-size: .75em;
    border: 0;
    margin: 0;
}

.scaleDiv div{
    width: 50%;
    border-right: 2px solid black;
    height: 10px;
}

.track{
    position: absolute;
    top: 26px;
    left: 3.125%;
    width: 93.75%;
    height: 2px;
    background-color: black;
}

.thumb{
    position: absolute;
    z-index: 1;
    cursor: pointer;
    top: 6px;
    transform: rotate(45deg);
    background: #316FB4;
    height: 20px;
    width: 20px;
    margin-left: -10px;
    border-radius: 50%;
    border-top-left-radius: 0;
}


/* 3 - RSME labels */
.RSMELine{
    position: absolute;
    height: 30px;
    border-left: 1px dotted dimgray;
}

.RSMELabel{
    position: absolute;
    text-align: center;
    color: dimgray;
    font-size: .6em;
    top: 30px;
    width: 6.25%;
    text-transform: uppercase;
    line-height: 1.2em;
}

/****************/
/* Modal dialog */ 
/****************/

#rsme-modal{
    padding: 20px;
}

.modal-content{
    padding: 10px;
    min-width: 800px;
}

.modal-content div{
    border-top: 0;
    border-bottom: 0;
}

.modal-dialog{
    max-width: 1280px;
}

.modal-title{
    padding: 0 0 50px 0;
    font-size: 2em;
}

/******************/
/* activity items */
/******************/

.activityList{
    min-width: 1024px;
    margin: auto;
    border-spacing: 20px;
}

.activityList td{
    vertical-align: middle;
    line-height: 1.2em;
    height: 3em;
    padding: 10px;
}

.activityList th{
    padding: 10px;
}

.activityList tr{
    border-bottom: 1px solid lightgrey;
}

.activityList tr:last-child, .activityList tr:first-child{
    border: none;
}

.activityList img{
    height: 1.5em;
    vertical-align: middle;
}

.activityList tr td:first-child{
    width: 50px;
    text-align: center;
}

.activityList tr > *:nth-child(4), .activityList tr > *:nth-child(5){
    position: relative;
    width: 120px;
    text-align: center;
}

.activityList tr:hover{
    background: lightgray;
}

.activityList tr:first-child:hover{
    background: inherit;
}

.activityList div{
    min-width: 5em;
}

.activityList td span{
    display: inline-block;
    width: 3em;
    margin-left: 1em;
}

.activityList td span + img{
    height: 1em;
    cursor: pointer;
}