{% extends 'base.html' %}

{% block title %}Login{% endblock %}

{% block content %}
{% load crispy_forms_tags %}         

<div class="py-5">
  <h2>Log in</h2>
  <form method="post">
    {% csrf_token %}
    {{ form|crispy }}
    <button type="submit" class="btn btn-primary">Log in</button>
  </form>
</div>

{% endblock %}