{% extends "base.html" %}

{% block title %}Sign Up{% endblock %}
{% load crispy_forms_tags %}

{% block content %}

<div class="py-5">
  <h2>Create an account</h2>
  <form method="post">
    {% csrf_token %}
    {{ suform|crispy }}
    {{ pform|crispy }}
    <button type="submit" class="btn btn-primary">Sign up</button>
  </form>
</div>

{% endblock %}