{% load static %}

<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>{% block title %}Django Auth Tutorial{% endblock %}</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <link rel="stylesheet" href={% static 'cersei.css' %}>
</head>
<body>
  <div class="container">
    <header>
      <img src={% static 'images/logo4.svg' %} alt="">
      <div id="header-title">
        <div id="plateforme">CERSEI</div>
        <div id="formeplate">GYM NOTEBOOK FOR THE BRAIN</div>
      </div>

      <div id="header-links">
        {% if request.path == "/accounts/login/" %}
          <a href="/accounts/signup/">Create an account</a>
        {% elif request.path == "/accounts/signup/" %}
          <a href="/accounts/login/">Log in</a>
        {% elif request.path == "/" and user.is_authenticated %}
          {{ user.username }} – <a href="/accounts/logout/">Log out</a>
        {% else %}
          <a href="/accounts/login/">Log in</a> – <a href="/accounts/signup/">Create an account</a>
        {% endif %}
      </div>
    </header>
    {% block content %}
    {% endblock %}
  </div>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.4/jquery.min.js" integrity="sha512-pumBsjNRGGqkPzKHndZMaAG+bir374sORyzM3uulLV14lN5LyykqNk8eEeUlUkB3U0M4FApyaHraT65ihJhDpQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.2.3/js/bootstrap.min.js" integrity="sha512-1/RvZTcCDEUjY/CypiMz+iqqtaoQfAITmNSJY17Myp4Ms5mdxPS5UV7iOfdZoxcGhzFbOm6sntTKJppjvuhg4g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  {% block javascript %}
  {% endblock %}
</body>
</html>