{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
{% if user.is_authenticated %}

<div id="headerstripe">
  <ul>
    <li><a href="#completedVLE" style="color: #ffc23d; font-weight: bold;">Completed from VLE</a></li>
    <li><a href="#remainingVLE">Remaining from VLE</a></li>
    <li><a href="#completedCERSEI">Completed from CERSEI</a></li>
    <li><a href="#remainingCERSEI">Remaining from CERSEI</a></li>
    <li><a href="#recommended">Recommended</a></li>
  </ul>
</div>

<div id="activity-panel"></div>

<!-- Effort rating modal dialog (hidden on load) -->
<div class="modal" id="rsme-modal" aria-hidden="true">
  <div class="modal-dialog sliderContainer">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5">Effort rating</h1>
      </div>
      <div class="modal-body" id="rsme-container"></div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-secondary" id="removeRating">Remove rating</button>
        <button type="button" class="btn btn-primary" id="saveRating">Save rating</button>
      </div>
    </div>
  </div>
</div>

{% else %}
  <p>You are not logged in. You can <a href="{% url 'login' %}">Log in</a> or <a href="/accounts/signup/">Create an account</a>.
{% endif %}

{% endblock %}

{% block javascript %}
{% load static %}
<script>
  // Fetch the values than cannot be fetched directly from the JS file
  const USERNAME = "{{ user.username }}"; // Logged in user
  const STATIC = "{% get_static_prefix %}"; // Path to static folder
  const GET_ACTIVITY_URL = "{% url 'get_activities' %}"; // URL for AJAX call to get activities
  const POST_RATING_URL = "{% url 'post_rating' %}"; // URL for AJAX call to post an effort rating
  const REMOVE_RATING_URL = "{% url 'remove_rating' %}"; // URL for AJAX call to remove an effort rating
</script>
<script src="{% static 'gnb.js' %}"></script>
{% endblock %}